<ion-header [translucent]="true">
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
     <ion-thumbnail slot="end">
        <img src="assets/img/Logo ZonaMarket1.png" />
        </ion-thumbnail>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form id="container">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Iniciar Sesión</ion-button>
          <a [routerLink]="['/forgot-password']" class="small-text">Olvidó su Contraseña?</a>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>
