<ion-header>
  <ion-toolbar>
   <ion-thumbnail slot="end">
        <img src="assets/img/Logo ZonaMarket1.png" />
        </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Usuario Nuevo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="container">
<ion-label position="floating">Escoger Rol de Usuario</ion-label>
  <ion-segment color="warning" value="warning">
  <ion-segment-button value="warning">
    <ion-label>Cliente</ion-label>
  </ion-segment-button>
  <ion-segment-button value="segment">
    <ion-label>Mercado</ion-label>
  </ion-segment-button>
</ion-segment>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Crear Usuario</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>