<ion-header [translucent]="true" >
    <ion-toolbar>
    <ion-thumbnail slot="start">
        <img src="assets/img/Logo ZonaMarket1.png" />
        </ion-thumbnail>
      <ion-title size="large">Historial de Pedidos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
    
<br>
  <ion-card color="light">
  <ion-card-title>Historial de Pedidos</ion-card-title>
  <ion-list [inset]="true">

    <ion-item>
      <ion-card-header>
        <ion-card-title>Mini Market 1</ion-card-title>
        <ion-card-subtitle>20/09/2023</ion-card-subtitle>
        <ion-card-subtitle>$7.980<ion-icon name="arrow-down-outline"></ion-icon></ion-card-subtitle>
      </ion-card-header>
    </ion-item>

    <ion-item>
        <ion-card-header>
        <ion-card-title>Mini Market 2</ion-card-title>
        <ion-card-subtitle>20/09/2023</ion-card-subtitle>
        <ion-card-subtitle >$25.000<ion-icon name="arrow-up-outline"></ion-icon></ion-card-subtitle>
        </ion-card-header>
    </ion-item>

    <ion-item>
      <ion-card-header>
        <ion-card-title>Mini Market 1</ion-card-title>
        <ion-card-subtitle>20/09/2023</ion-card-subtitle>
      </ion-card-header>
    </ion-item>

    <ion-item>
        <ion-card-header>
        <ion-card-title>Mini Market 2</ion-card-title>
        <ion-card-subtitle>20/09/2023</ion-card-subtitle>
        </ion-card-header>
    </ion-item>
        <ion-item>
      <ion-card-header>
        <ion-card-title>Mini Market 1</ion-card-title>
        <ion-card-subtitle>20/09/2023</ion-card-subtitle>
      </ion-card-header>
    </ion-item>

    <ion-item>
        <ion-card-header>
        <ion-card-title>Mini Market 2</ion-card-title>
        <ion-card-subtitle>20/09/2023</ion-card-subtitle>
        </ion-card-header>
    </ion-item>
  </ion-list>
</ion-card>


</ion-content >
